<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Webpage</title>
</head>
<body>

    <header>

        <h1>SCHOOl</h1>8
        <h2>name:{{nm}}</h2>
        <h2>due:{{du}}</h2>
        <h2>seats:{{st}}</h2>
      
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>About This Page</h2>
            <p>This is a sample webpage structure written in HTML.</p>
        </section>

        <section>
            <h2>Another Section</h2>
            <p>More content can go here!</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 My Website</p>
    </footer>

</body>
</html>
