<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Webpage</title>
</head>
<body>

    <header>
        <h1>STUDENT </h1>
6

        <h1>cirt:{{ct|upper}} </h1> 
        {% comment %} ye ct | upper 1 filter h | is simbol ko pipe bolte h {% endcomment %}
        <h1>age:{{ag}} </h1>
        <h1>job:{{jb}} </h1>


        {% comment %} ye if conditon ka h {% endcomment %}
        {% if nm %}
        <h1> this is nm 65</h1>
        {% endif%}
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>About This Page</h2>
            <p>This is a sample webpage structure written in HTML.</p>
        </section>

        <section>
            <h2>Another Section</h2>
            <p>More content can go here!</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 My Website</p>
    </footer>

</body>
</html>
